*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #bababa;
}

.navbar{
    /* Ini untuk webite normal laptp/pc */
    display: flex;
    justify-content: space-between;

    /* Ini Untuk Colum Seperti di hp */
    /* flex-direction: column; */

    align-items: center;
    /* background-color: #333; */
    background: linear-gradient(to top, rgb(50, 50, 50), rgb(122, 118, 255), rgb(50, 50, 50));
    font-weight: bold;
    color: white;
}

.logo{
    font-size: 1.3rem;
    margin: .5rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;

    /* Ini untuk hp */
    /* flex-direction: column; */

    display: flex;
    text-align: center;
}

.logo img{
    padding: 14px;
    width: 90px;
    /* width: 9rem; */
    border-radius: 55px;
    margin: 10px;
}

.navbar-link ul{
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content:space-between;
    text-align: center; */
    margin-right: 70px;
    gap: 10px;
}

.navbar-link li{
    list-style: none;
}

.navbar-link li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-link li:hover{
    background-color: #000000;
    border-radius: 190px;
    transition: all .3s ease-in-out;
}

.intro{
    background-color: #000000;
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    padding: 60px;
    margin-top: -1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* text-align: center; */
}

.intro img{
    height: 250px;
}

.intro h2{
    margin: 0;
    color: rgb(43, 96, 176);
    background-color: rgb(43, 176, 43);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), 0 0 15px rgb(170, 170, 170);
    border: 1px solid rgba(43, 176, 43);
    text-align: center;
    top: 30px;
    font-size: 35px;
}

.border{
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid white;
    background-color: #ffffff;
    margin-top: 30px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), 0 0 15px rgb(170, 170, 170);
    border-radius: 15px;
}

.intro h3{
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.intro p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-top: 20px;
    margin: 20px;
}

.border .visi{
    color: #000000;
    font-size: 20px;
}

.border h3{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.sekolah{
    background-color: #000000;
    border-radius: 120px;
}

@media (max-width: 720px){

    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        font-size: 1.3rem;
        margin: .5rem;
        font-weight: bold;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .logo img{
        width: 9rem;
        border-radius: 200px;
    }
    
    .navbar-link li:hover{
        border-radius: 190px;
        transition: all .1s ease-in-out;
        background-color: #000000;
    }

    .intro{
        margin-top: -1px;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        background-color: #000000;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 50px;
    }

    .intro img{
        height: 9rem;
    }

    .intro h2{
        margin: 0;
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
    }

    .intro p{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 15px;
        margin-top: 20px;
    }

    .border{
        border-radius: 20px;
    }

    .navbar-link ul{
        margin: 0;
        padding: 0;
        display: flex;
    }
}

@media (max-width: 1000px){

    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        font-size: 3rem;
        margin: .5rem;
        font-weight: bold;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .logo img{
        width: 20rem;
        border-radius: 500px;
    }

    .navbar-link ul{
        margin: 10px;
        padding: 10px;
        display: flex;
        gap: 5rem;
    }

    .navbar-link a{
        font-size: 40px;
    }
    
    .navbar-link li:hover{
        padding: 5px;
        border-radius: 190px;
        transition: all .1s ease-in-out;
        background-color: #000000;
    }

    .intro{
        margin-top: -1px;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        background-color: #000000;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 50px;
    }

    .intro img{
        height: 15rem;
    }

    .intro h2{
        margin: 0;
        font-size: 70px;
        margin-top: 20px;
    }

    .intro p{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 33px;
        margin-top: 20px;
        font-weight: bold;
    }

    .border{
        margin: 0;
        padding: 0;
        display: flex;
        border: 1px solid white;
        background-color: #ffffff;
        margin-top: 30px;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), 0 0 15px rgb(170, 170, 170);
        border-radius: 15px;
    }

    .border .visi{
        color: #000000;
        font-size: 40px;
    }
    .border h3{
        font-size: 60px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }
}